<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="suivibouteilles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="suivibouteilles.Properties.Settings.suivibouteillesConnectionString"
            connectionString="Data Source=CHERIF-PC;Initial Catalog=TONTINE_EGLISE;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
      <suivibouteilles.Properties.Settings>
        <setting name="skin" serializeAs="String">
          <value />
        </setting>
        <setting name="NomServeur" serializeAs="String">
          <value />
        </setting>
        <setting name="NomBDD" serializeAs="String">
          <value />
        </setting>
        <setting name="NomUser" serializeAs="String">
          <value />
        </setting>
        <setting name="PassUser" serializeAs="String">
          <value />
        </setting>
        <setting name="NumPort" serializeAs="String">
          <value />
        </setting>
        <setting name="Session" serializeAs="String">
          <value />
        </setting>
        <setting name="authwin" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="authsql" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="EnregistrerInfoBDD" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Utilisateur" serializeAs="String">
          <value />
        </setting>
      </suivibouteilles.Properties.Settings>
    </userSettings>
</configuration>
